"# Ignorar archivos de sistema y basura" 
"desktop.ini" 
"" 
"# Ignorar carpetas de cach‚ de Python" 
"__pycache__/" 
".ipynb_checkpoints/" 
"" 
"# Ignorar archivos espec¡ficos que son demasiado grandes" 
"*Accidentes_A‚reos.ipynb" 
